<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sample01</string>
	<string>sample02</string>
	<string>sample03</string>
	<string>sample04</string>
	<string>sample05</string>
	<string>sample06</string>
</array>
</plist>
